.app-jelozia{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    min-height: 100vh;
    width: fit-content;
    box-sizing: border-box;
    overflow-x: auto;
}
.jelozia{
  display: grid;
  margin: 0 auto;
}
.celula{
    width: 100px;
    height: 100px;
    border: solid 1px var(--accent);
    cursor: default;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.celula.esquina{
    color: var(--accent);
    letter-spacing: 1px;
    font-size: 21px;
}
.barra{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 141.42%;
    height: 2px;
    background-color: var(--accent);
    transform-origin: bottom left;
    transform: rotate(-45deg);
    z-index: 1;
}
.caixa-container{
    position: absolute;
    display: flex;
    gap: 4px;
}
.caixa{
    width: 16px;
    height: 28px;
    border: solid 1px var(--accent);
    position: relative;
    z-index: 2;
    background-color: inherit;
    outline: inherit;
    color: var(--text);
    text-align: center;
    font-size: 18px;
}
.centro{
    width: 26px;
    height: 32px;
    font-size: 22px;
}
.caixa.superior-esquerdo-2{
    top: 20px;
    left: 30px;
}
.caixa.inferior-direito-2{
    bottom: 20px;
    right: 35px;
}
.caixa.superior-esquerdo-baixo-4{
    top: 30px;
    left: 35px;
}
.caixa.superior-esquerdo-cima-4{
    top: 0px;
    left: 45px;
}
.caixa.inferior-direito-baixo-4{
    bottom: 10px;
    right: 40px;
}
.caixa.inferior-direito-cima-4{
    bottom: 30px;
    right: 35px;
}
.caixa.superior-esquerdo-3{
    top: 20px;
    left: 45px;
}
.caixa.inferior-direito-baixo-3{
    bottom: 10px;
    right: 30px;
}
.caixa.inferior-direito-cima-3{
    bottom: 30px;
    right: 25px;
}
.caixa.superior-esquerdo-baixo-3a{
    top: 30px;
    left: 28px;
}
.caixa.superior-esquerdo-cima-3a{
    top: 0px;
    left: 33px;
}
.caixa.inferior-direito-3a{
    bottom: 20px;
    right: 45px;
}
.travado{
    cursor: default;
}
