.head-conteiner {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}
.conteiner{
  border: solid 2px;
  padding: 30px;
  margin-top: 20px;
}
.paragrafo{
  max-width: 650px;
  margin-bottom: 30px;
  user-select: none;
}
.f{
  width: 70px;
  margin-left: 15px;
  margin-top: 7px;
  color: var(--text);
  font-size: 18px;
  padding: 5px 11px;
  outline: 1px solid var(--shadow);
}
.fator1 {font-size: 105%;}
#f2{ margin-bottom: 15px; }
.btn{
  padding: 10px 0;
  width: 140px;
  color: var(--text);
  background-color: var(--accent-bg);
  border: none;
  outline: none;
}
.btn:focus{
  outline: var(--accent) 3px solid;
}
@media (hover: hover){
  .btn:hover:not(:active){
    outline: none;
    border: none;
  }
}
.botoes, span{
  user-select: none;
}
.clicou{
  transform: scale(0.9);
  outline: 3px solid var(--accent);
}
.grupo{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
}
.volta{
  margin-top: 1rem;
}
.instrucao{
  width: 220px;
  border: solid 1px var(--accent-border);
  padding: 10px;
}
@media screen and (max-width:298px){
  .fator2{font-size: 105%;}
  .f { margin-right: 15px; }
}
